<div class="auth">
  <div class="auth-title">
    <h2>Authentication</h2>
  </div>
  
  <div class="auth-text">
    <span
       ng-show="auth.hasAccess"
       style="color:green">
      You can perform this operation.<br>
      Please confirm.
    </span>
    <span
       ng-hide="auth.hasAccess"
       style="color:red">
      You can't perform this operation.<br>
      Please log in.
    </span>
  </div>
  
  <form
      novalidate
      name="authForm"
      class="input-group auth-form">
     
    <span
       class="auth-error"
       style="color:red; font-size:75%"       
       ng-hide="auth.hasAccess || auth.error === '' ">
      <i class="fa fa-warning"></i> {{auth.error}}
    </span>
    
     <div
       class="auth-inputs"
       ng-hide="auth.hasAccess">
      <input
	 id="loginInput"
	 type="text"
	 class="form-control"
	 placeholder="login"
	 ng-model="auth.login"
	 required>
      <input
	 id="passwordInput"
	 type="password"
	 class="form-control"
	 placeholder="password"
	 ng-model="auth.password"
	 required>
    </div>
    
    <div
       class="auth-dropdown"
       ng-hide="auth.hasAccess || !auth.allowedThroughTime">
      <span>
	For how long do you wanna stay authentified ?
      </span>

      <div class="dropdown">
	<button
	   class="btn btn-default dropdown-toggle auth-dropdown-item"
	   type="button"
	   id="dropdownMenu1"
	   data-toggle="dropdown">
	  {{auth.durationToDisplay}}
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	  <li role="presentation">
	    <a
	       class="auth-dropdown-item"
	       role="menuitem"
	       tabindex="-1"
	       href="#"
	       ng-repeat="time in auth.availableDurations"
	       ng-click="auth.chooseDuration(time)">
	      {{time}} min</a>
	  </li>
	</ul>
      </div>
      
    </div>

    <div class="auth-buttons">
      <button
	 ng-click="confirm()"
	 class="btn btn-success auth-confirm"><b>Submit</b></button>
      <button
	 ng-click="cancel()"
	 class="btn btn-danger auth-cancel"><b>Cancel</b></button>
    </div>
    
  </form>
  
</div> <!-- /auth -->
