<!--
    This the configuration page.
    Access requires admin rights.
    Basically, manage customers, drinks, and users.
  -->

<div class="container-fluid">
  <div
     class="row" id="header">
    <div
       class="col-md-12">
      <h2
         ng-click="admin.debug()"><b>BABAR-CONFIG</b></h2>
      <a
	 ui-sref="sell"
	 style="color:black">
      <i
	 class="fa fa-sign-out fa-3x"
	 ng-click="admin.signOut()"></i>
      </a>
    </div>
  </div>
  
  <div class="row" id="main">
    <div
       class="col-md-2 admin-domains">
      <div class="list-group">
        <a
	   ui-sref="admin"
           class="list-group-item {{admin.isActiveDomain(domain)}}"
           ng-repeat="domain in admin.domains"
	   ng-click="admin.changeDomain(domain)">
          <h4 class="list-group-item-heading"><b>{{domain.title}}</b></h4>
          <p class="list-group-item-text">{{domain.description}}</p>
        </a>
      </div>
    </div><!--admin-domains-->

    <div
       class="col-md-4 admin-items">
      <div
         ng-show="this.currentDomain!==null"
	 class="list-group">
        <a
	   ui-sref="admin.{{admin.currentDomain}}( {id: {{item.id}} })"
           class="list-group-item {{admin.isActiveItem(item)}}"
	   ng-repeat="item in admin.items"
	   ng-click="admin.changeItem(item)">
          {{item.name}}
        </a>
      </div>
    </div><!--admin-items-->

    
    <div
       class="col-md-6 admin-details">
      <ui-view/>
    </div><!--admin-details-->
    
    
  </div> <!--/row-->
</div> <!--/container-->
