<div class="waiting-confirm">
  <div class="waiting-confirm-title">
    <h2>Confirmation</h2>
  </div>
  <div class="waiting-confirm-text">
    <b>{{confirm.drink.name}}</b>
    for <b>{{confirm.customer.nickname}}</b> ?
  </div>
  <div class="waiting-confirm-buttons">
    <span
       style="background-color:#428bca"
       ng-click="buy()"
       class="btn btn-default"><b>Confirm</b></span>
    <span
       ng-click="cancel()"
       class="btn btn-default"><b>Cancel</b></span>
  </div>
</div> <!-- /waiting-confim -->
