//HEADER ROW
#header {
    position: absolute;
    height: 10%;
    width: 100%;
}
#header div {
    height: 100%;
    width: 100%;
}
#header h2 {
    margin-left: 50px;
    vertical-align: center;
}

//MAIN ROW
#main {
    position: absolute;
    height: 80%;
    width: 100%;
    margin-top: 6%;
}

//CLIENTS (col 1)
.sell-client {
}

//CLIENTS & DRINKS & DETAILS(col 1 & 2 & 3)
.sell {
    height: 100%;
    position: relative;
}
.custom-input {
    width: 100%;
}
.custom-list {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

//DETAILS (col 3)
.sell-details-info {
    display: block;
}
.sell-details-info-image {
    height: 200px;
    display: inline;
}
.sell-details-info-text {
    margin-top: 15%;
    position: absolute;
    display: inline;
}
.sell-details-info-text ul {
    list-style-type: none;
}

.sell-details-history h4 {
    text-align: center;
}
.sell-details-history {
    position: relative;
    height: 60%;
    width: 100%;
    display: block;
}

.sell-details-stats {
    position: relative;
    margin-left: 5%;
    margin-top: 10%;
    float: left;
}

.sell-details-makeDeposit {
    float: right;
    position: relative;
    margin-top: 10%;
    margin-right: 5%;
}