<!--
This is the homepage where all the sh*t happens.
Goal is to select a customer and file in the drink he had.
-->

<div class="container-fluid">
  
  <div class="row hidden-xs hidden-sm" id="header">
    <div class="col-xs-12"
	 style="background-color:{{sell.getMoneyColor()}}">
      <h2><b>BABAR-EXPRESS</b></h2>
    </div>
  </div> <!-- /header row-->

  <div class="row" id="main">
    <div class="col-md-4 col-xs-12 sell-customer sell">
      <div
	 class="input-group custom-input">
	<input
	   id="customerInput"
	   type="text"
	   class="form-control"
	   placeholder="Search for a customer"
	   ng-model="sell.customer.keyword">
      </div><!-- /input-group -->
      <div class="list-group custom-list">
	<a
	   href="#"
	   class="list-group-item {{customer.active?'active':''}}"
           ng-repeat="customer in
		      sell.customers
		      | search: sell.customer.keyword
		      | select : sell.customer.index"
 	   ng-click="sell.customer.setIndex($index)">
	  {{customer.name}}
	</a>
      </div> <!-- /list -->
    </div> <!-- /sell-customer -->


    <div class="col-md-4 col-xs-12 sell-drink sell">
      <div
	 class="input-group custom-input">
        <input
	   id="drinkInput"
           type="text"
           class="form-control"
           placeholder="Search for an item"
           ng-model="sell.drink.keyword">
      </div><!-- /input-group -->
      <div class="list-group custom-list">
        <a
           href="#"
	   class="list-group-item {{drink.active?'active':''}}"
           ng-repeat="drink in
                      sell.drinks
                      | search: sell.drink.keyword
                      | select : sell.drink.index"
           ng-click="sell.drink.setIndex($index)">
          {{drink.name}}
        </a>
      </div> <!-- /list -->
    </div> <!-- /sell-drink -->



    <div class="col-md-4 col-xs-12 sell-details sell">
      <div class="sell-details-info">
      <img class="sell-details-info-image"
	   src="../assets/king_babar.jpg"></img>
      
      <div class="sell-details-info-text">
        <ul ng-hide="sell.customer.details===null">
          <li>{{sell.customer.details.firstname}}
            ({{sell.customer.details.nickname}})
            {{sell.customer.details.lastname}}</li>
          <br>
          <li><b>{{sell.customer.details.money}}&#8364</b></li>
        </ul>
        <div ng-show="false"><!-- sell.customer.current===null"> -->
          <b>Made with love by Dryvenn and Iansus.</b>
        </div>
      </div> <!-- /text -->
      </div> <!-- /sell-details-info -->

      <div class="sell-details-history" ng-hide="sell.customer.details===null">
	<h4>History :</h4>
	<ul class="list-group custom-list">
          <li
	     class="list-group-item"
	     ng-repeat="drink in sell.customer.details.history | chrono">
	    <h5>{{drink.name}}</h5>
	    <h6>{{sell.toDateString(drink.time)}}</h6>
	  </li>
	</ul>
      </div> <!-- /sell-details-history -->

      <div class="sell-waiting-confirm"
 	   ng-show="sell.isWaitingForConfirm()"
	   id="confirmationInput">
	<div class="sell-waiting-confirm-text">
	  <b>{{sell.customer.details.nickname}}</b><br>
	  is having a<br>
	  <b>{{sell.drink.details.name}}</b> ?
	</div>
	<div class="sell-waiting-confirm-buttons">
	  <span
	     style="background-color:#15BF25"
	     ng-click="sell.drink.buy(sell.details)"
	     class="btn"><b>YES</b></span>
	  <span
	     style="background-color:#E5251E"
	     ng-click="sell.drink.cancel()"
	     class="btn"><b>NO</b></span>
	</div>
      </div> <!-- /sell-waiting-confim -->
      
    </div> <!-- /sell-details -->
    
  </div> <!-- row -->
</div> <!--container -->


