.sell-client input {
    position: relative;
    width: 100%;
}
.sell-client .list-group {
    position: absolute;
    height: 750px;
    width: 100%;
    overflow: auto;
}

.money-alert {
    height: 200px;
    width: 100%;
}

.sell-info-image {
    height: 200px;
    display: inline;
}
.sell-info-text {
    margin-top: 90px;
    position: absolute;
    display: inline;
}
.sell-info-text ul {
    list-style-type: none;
}

.sell-info-history h4 {
    text-align: center;
}
.sell-info-history .list-group {
    height: 300px;
    overflow: auto;
}