.auth {
    font-size: 125%;
}
.auth-text {
    margin-top: 5%;
}
.auth-form {
    margin-top: 8%;
}

.auth-dropdown {
    margin-left: 2%;
    margin-top: -25px;
}
.auth-dropdown > span {
    font-size: 70%;
}
.auth-dropdown-item {
    font-size: 70%;
}

.auth-form input {
    margin-top: 3%;
}

.auth-inputs {
    margin-bottom: 125px;
}

.auth-buttons {
    margin-top: 10%;
}

.auth div button{
    margin-right: 3%;
}