<md-dialog aria-label="Authentication">
  <md-content>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools" style="width: 500px">
	<span><strong>Authentication</strong></span>
      </h2>
    </md-toolbar>

    <form
       novalidate
       name="authForm">
      <div layout="column" layout-padding layout-fill layout-margin>
	<md-input-container flex>
	  <label>Login</label>
	  <input
             id="loginInput"
             type="text"
             ng-model="auth.login"
             required>
	</md-input-container>
	<md-input-container flex>
	  <label>Password</label>
	  <input
             id="passwordInput"
             type="password"
             ng-model="auth.password"
             required>
	</md-input-container>
        <md-input-container flex>
	  <div layout="row" layout-fill layout-padding
	       layout-align="space-between center">
	    <md-slider
	       id="duration-slider"
               ng-model="auth.duration"
               min="0"
               max="120"
	       aria-label="Duration (slider)"
	       class="md-accent"
	       flex="50">
               </md-slider>
	    <div flex="20">
	      <input
		 type="number"
		 ng-model="auth.duration"
		 style="width:50px"
		 min="0"
		 max="120"
		 step="1"
		 aria-label="Duration (input)">
            </div>
	  </div>
        </md-input-container>
	<md-input-container flex>
          <p
             style="color: red;"
             class="md-warn">
            <i class="fa fa-warning"></i>
            {{auth.error}}
          </p>
        </md-input-container>
      </div>
      <div layout="row" layout-margin layout-fill>
	<md-button
	   class="md-raised md-primary"
           ng-click="confirm()"
	   flex>
	  <strong>Submit</strong>
	</md-button>
	<md-button
	   class="md-raised md-warn"
	   ng-click="cancel()"
	   flex>
          Cancel
	</md-button>
      </div>
    </form>
  </md-content>
</md-dialog>
