<md-dialog aria-label="Login">
  <md-content>
    <md-toolbar class="md-accent">
      <h2 class="md-toolbar-tools">
	<span><strong>Authentication</strong></span>
      </h2>
    </md-toolbar>

    <form
       novalidate
       name="authForm">
      <div layout="column" layout-padding layout-fill layout-margin>
	<md-input-container flex>
	  <label>Login</label>
	  <input
             id="loginInput"
             type="text"
             ng-model="auth.login"
             required>
	</md-input-container>
	<md-input-container flex>
	  <label>Password</label>
	  <input
             id="passwordInput"
             type="password"
             ng-model="auth.password"
             required>
	</md-input-container>
        <md-input-container flex>
	  <md-select
	     ng-model="chosenDuration"
	     placeholder="Duration"
	     ng-show="auth.allowedThroughTime">
            <md-option
	       ng-value="duration.value"
	       ng-repeat="duration in auth.durations">
	      {{ duration.label }}
	    </md-option>
	  </md-select>
	</md-input-container>
      </div>
      <div layout="row" layout-margin layout-fill>
	<md-button
	   class="md-raised md-accent"
           ng-click="confirm()"
	   flex>
	  <strong>Submit</strong>
	</md-button>
	<md-button
	   class="md-raised md-warn"
	   ng-click="cancel()"
	   flex>
          Cancel
	</md-button>
      </div>
    </form>
    
    </md-content>
  
  <span
         class="auth-error"
         style="color:red; font-size:75%"       
         ng-hide="auth.hasAccess || auth.error === '' ">
        <i class="fa fa-warning"></i> {{auth.error}}
      </span>
      
</md-dialog>
