.auth {
    font-size: 125%;
}
.auth-text {
    margin-top: 5%;
}
.auth-form {
    margin-top: 10%;
}


.auth-dropdown {
    margin-top: 4%;
    margin-left: 2%;
}
.auth-dropdown > span {
    font-size: 70%;
    margin-bottom: 1%;
}
.auth-dropdown-item {
    font-size: 70%;
}

.auth-buttons {
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 2%;
}

.auth div button{
    margin-right: 3%;
}