<div class="col-md-4 col-xs-12 sell-details sell">
  <div class="sell-details-info">
    <img class="sell-details-info-image"
	 src="assets/king_babar.jpg"
	 ng-click="sell.debug()"></img>
    
    <div class="sell-details-info-text">
      <ul ng-hide="sellcst.current.details===null">
        <li>{{sellcst.current.details.firstname}}
          ({{sellcst.current.details.nickname}})
          {{sellcst.current.details.lastname}}</li>
        <br>
        <li><b>{{sellcst.current.details.money}}&#8364</b></li>
      </ul>
      <div ng-show="sellcst.current.details===null">
        Made with
	<a href="https://www.youtube.com/watch?v=xat1GVnl8-k"> <i class="fa fa-heart" alt="love"></i></a>
        by
	<a href="https://github.com/Dryvenn">Dryvenn</a>
	and
	<a href="https://github.com/Iansus">Iansus</a>.
	<br>
	<a href="https://github.com/Babaritech/babar" style="font-size:75%">
	  <i class="fa fa-github-square"></i> Fork me on Github !
	</a>
	<br>
	<a ui-sref="error({status:420})" style="font-size:50%">
	  This shit is fucking broken, man !
        </a>
      </div>
    </div> <!-- /text -->
    <div
       ng-show="unicorn"
       style="position:relative;z-index:-10;display:inline;float:right;margin-top:4%;">
      <unicorn></unicorn>
    </div>
  </div> <!-- /sell-details-info -->

  <div class="sell-details-history" ng-hide="sellcst.current.details===null">
    <ul class="list-group custom-list">
      <li
         class="list-group-item"
         ng-repeat="drink in sellcst.current.details.history  |
		    orderBy : sell.chronological : true">
        <h5>{{drink.name}}</h5>
        <h6>{{drink.price}}€   |   {{sell.toDateString(drink.time)}}</h6>
      </li>
    </ul>
  </div> <!-- /sell-details-history -->

  <div
     class="sell-details-stats"
     ng-hide="sellcst.current.details === null">
    <b>Favourite drink : </b> {{sellcst.current.details.favDrink}}<br>
    <b>Total spent : </b>{{sellcst.current.details.totalSpent}}€<br>
  </div>
  <md-button
     class="sell-details-makeDeposit md-raised md-primary"
     aria-label="Deposit"
     ng-hide="sellcst.current.details === null"
     ng-click="sell.makeDeposit()">
    Make a Deposit
  </md-button>
</div> <!-- /sell-details -->
