<div class="col-md-4 col-xs-12 sell-drink sell">
  <div
     class="input-group custom-input">
    <input
       name="drinkInput"
       id="drinkInput"
       type="text"
       class="form-control"
       placeholder="Search for an item"
       ng-model="selldrk.current.keyword">
  </div><!-- /input-group -->
  <div class="list-group custom-list">
    <a
       href="#"
       class="list-group-item {{drink.active?'active':''}}"
       ng-repeat="drink in
                  selldrk.list
                  | search: selldrk.current.keyword
                  | select : selldrk.current.index"
       ng-click="selldrk.current.setIndex($index, true)">
      {{drink.name}}
    </a>
  </div> <!-- /list -->
</div> <!-- /sell-drink -->
