<div layout="column">
  <md-input-container>
    <label>Search for an item</label>
    <input
       name="drinkInput"
       id="drinkInput"
       type="text"
       ng-model="selldrk.current.keyword">
  </md-input-container>
  <md-list>
    <md-item
       ng-repeat="drink in
                  selldrk.list
                  | search: selldrk.current.keyword
                  | select : selldrk.current.index"
       ng-click="selldrk.current.setIndex($index, true)">
      <md-item-content
	 class="{{drink.active?'active':''}}">
	<div class="md-tile-content">
	  <h3>{{drink.name}}</h3>
	  <p>
	    {{drink.price}} €
	  </p>
	</div>
      </md-item-content>
    </md-item>
  </md-list>
</div>
